
.move-thingy{ width:200px;
	               height:200px;
	               background-color:grey;
                   border-style: solid;
                   border-radius: 25px;
	               border-color: grey;
	               position:absolute;
	                                   }   
								 
	
			 
	
